<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>
</head>
<body>
<form th:action="@{/admin/addUser}"
      th:object="${user}" method="POST">
    <label for="username">Enter Username:</label>
    <input type="text" name="name" th:field="*{email}" id="username"/>
    <br/>
    <br/>
    <label for="password">Enter Password:</label>
    <input type="text" name="password" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="email">Enter Email:</label>
    <input type="text" name="email" th:field="*{getFirstName}" id="email"/>
    <br/>
    <br/>
    <p>Enter Roles:</p>
    <input type="checkbox" name="role_authorities" th:each="role : ${roleSet}" th:text="${role.name}" th:value="${role.id}"/>

    <input type="submit" value="Create"/>
</form>

<br/>

<a href="/admin/">Users table</a>
</body>
</html>