<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>
</head>
<body>
<form th:action="@{/admin/editUser/{id}}"
      th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label for="username">Enter username:</label>
    <input type="text" name="name" th:field="*{username}" id="username"/>
    <br/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" name="lastname" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="email">Enter Email:</label>
    <input type="text" name="email" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <p>Enter Roles:</p>
    <input type="checkbox" name="role_authorities" th:each="role :${roleSet}" th:text="${role.name}"
           th:value="${role.id}" th:checked="${user.roles.contains(role)}"
    />
    <br/>
    <br/>
    <input type="submit" value="Update"/>
</form>

<br/>

<a href="/admin/">Users table</a>
</body>
</html>