<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="bg-dark text-white col-12">
                    <div class="row">
                        <div class="col-11" style="float: left">
                            <b class="text-md-left" th:text="${user.getEmail()}"/> with Roles: <b
                                th:each="role : ${user.getRoles()}"
                                th:text="${role.name.toUpperCase() + '&nbsp;'}"/>
                        </div>
                        <div class="col-1" style="float: right">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" style="color: gray; float: right;" class="btn btn-link">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <div sec:authorize="hasAuthority('admin')">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/}">Admin</a>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/user}">User</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9" style="background-color: #f8f9fa;">
                    <h1 class="text-left">
                        User information-page
                    </h1>
                    <div class="tabbable" id="tabs-59281">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#tab1" data-toggle="tab">About user</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="background-color: white">
                            <div class="tab-pane active" id="tab1">
                                <p>
                                <h5 class="text-left">
                                    All users
                                </h5>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        <th>
                                            Age
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Role
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody th:object="${user}">
                                    <td th:text="${user.id}">id</td>
                                    <td th:text="${user.firstName}">first name</td>
                                    <td th:text="${user.lastName}">last name</td>
                                    <td th:text="${user.age}">age</td>
                                    <td th:text="${user.email}">email</td>
                                    <td th:text="${user.roles}">roles</td>
                                    </tbody>
                                </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>