<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="bg-dark text-white col-12">
                    <div class="row">
                        <div class="col-11" style="float: left">
                            <b class="text-md-left" th:text="${userAuthorised.getEmail()}"/> with Roles: <b
                                th:each="role : ${userAuthorised.getRoles()}"
                                th:text="${role.name.toUpperCase() + '&nbsp;'}"/>
                        </div>
                        <div class="col-1" style="float: right">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" style="color: gray; float: right;" class="btn btn-link">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin}">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user}">User</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9" style="background-color: #f8f9fa;">
                    <h1 class="text-left">
                        Admin panel
                    </h1>
                    <div class="tabbable" id="tabs-59281">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#tab1" data-toggle="tab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab2" data-toggle="tab">Add User</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="background-color: white">
                            <div class="tab-pane active" id="tab1">
                                <p>
                                <h5 class="text-left" style="background-color: #f8f9fa">
                                    All users
                                </h5>
                                <table class="table" id="userTable">
                                    <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        <th>
                                            Age
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Edit
                                        </th>
                                        <th>
                                            Delete
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody id="userTableBody">
                                    </tbody>
                                </table>
                                </p>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <h5 class="text-left" style="background-color: #f8f9fa">
                                    Add new user
                                </h5>
                                <div class="row col-md text-center" style="justify-content: center">
                                    <form id="addUserForm">
                                        <div class="form-group">
                                            <p><strong>First name</strong></p>
                                            <label for="firstName"></label>
                                            <input class="form-control" type="text" name="firstName"
                                                   id="firstName"/>
                                        </div>
                                        <div class="form-group">
                                            <p><strong>Last name</strong></p>
                                            <label for="lastName"></label>
                                            <input class="form-control" type="text" name="lastName"
                                                   id="lastName"/>
                                        </div>
                                        <div class="form-group">
                                            <p><strong>Age</strong></p>
                                            <label for="age"></label>
                                            <input class="form-control" type="number" name="age"
                                                   id="age"/>
                                        </div>
                                        <div class="form-group">
                                            <p><strong>Email</strong></p>
                                            <label for="email"></label>
                                            <input class="form-control" type="text" name="email"
                                                   id="email"/>
                                        </div>
                                        <div class="form-group">
                                            <p><strong>Password</strong></p>
                                            <label for="password"></label>
                                            <input class="form-control" type="text" name="password"
                                                   id="password"/>
                                        </div>
                                        <div class="checkbox">
                                            <p><strong>Role</strong></p>
                                            <select multiple class="form-control" id="roles" size="2" name="role_authorities">
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success">
                                            Add new user
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="editModal" role="dialog"
                                 tabindex="-1"
                                 aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Edit user
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body col-md text-center">
                                            <form id="editForm">
                                                <div class="form-group">
                                                    <p><strong>ID</strong></p>
                                                    <label for="ID"></label>
                                                    <input class="form-control" type="text"
                                                           name="id"
                                                           id="ID" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>First name</strong></p>
                                                    <label for="editedFirstName"></label>
                                                    <input class="form-control" type="text"
                                                           id="editedFirstName"/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Last name</strong></p>
                                                    <label for="editedLastName"></label>
                                                    <input class="form-control" type="text"
                                                           id="editedLastName"/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Age</strong></p>
                                                    <label for="editedAge"></label>
                                                    <input class="form-control" type="number"
                                                           id="editedAge"/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Email</strong></p>
                                                    <label for="editedEmail"></label>
                                                    <input class="form-control" type="text"
                                                           id="editedEmail"/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Password</strong></p>
                                                    <label for="editedPassword"></label>
                                                    <input class="form-control" type="text"
                                                           id="editedPassword"/>
                                                </div>
                                                <div class="checkbox">
                                                    <p><strong>Role</strong></p>
                                                    <label for="editedRoles"></label>
                                                    <select multiple class="form-control"
                                                            size="2"
                                                            id="editedRoles"
                                                            name="role_authorities">
                                                    </select>
                                                </div>

                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">
                                                        Edit
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deleteModal" role="dialog"
                                 tabindex="-1"
                                 aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Edit user
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body col-md text-center">
                                            <form id="deleteForm">
                                                <div class="form-group">
                                                    <p><strong>ID</strong></p>
                                                    <label for="deleteID"></label>
                                                    <input class="form-control" type="text"
                                                           name="id"
                                                           id="deleteID" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>First name</strong></p>
                                                    <label for="deletedFirstName"></label>
                                                    <input class="form-control" type="text"
                                                           id="deletedFirstName" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Last name</strong></p>
                                                    <label for="deletedLastName"></label>
                                                    <input class="form-control" type="text"
                                                           id="deletedLastName" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Age</strong></p>
                                                    <label for="deletedAge"></label>
                                                    <input class="form-control" type="number"
                                                           id="deletedAge" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <p><strong>Email</strong></p>
                                                    <label for="deletedEmail"></label>
                                                    <input class="form-control" type="text"
                                                           id="deletedEmail" readonly/>
                                                </div>
                                                <div class="checkbox">
                                                    <p><strong>Role</strong></p>
                                                    <label for="editedRoles"></label>
                                                    <select multiple class="form-control"
                                                            size="2"
                                                            id="deletedRoles"
                                                            name="role_authorities">
                                                    </select>
                                                </div>

                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/main.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>